* {
	padding: 0;
	margin: 0;
	outline: none;
}
.p1 {
	width: 500px;
	background-color: green;
	margin-bottom: 15px;
}
.p2 {
	width: 500px;
	background-color: violet;
	margin-bottom: 15px;
}
.p3 {
	width: 500px;
	margin-top: 15px;
}
.p1:hover {
	background-color: yellow;
}
.p1:active {
	background-color: red;
}
.p2:hover {
	background-color: brown;
}
.p2:active {
	background-color: gold;
}

input:focus {
	border: 5px solid green;
}
.p3:nth-child(even) {
	background-color: grey;

}
.p4:first-letter {
	font-family: "Georgia";
    font-size: 2em; 
    color: red;

}
p:after {
	content: "*";
}
p:before {
	content: "\2602";
	float: left;

}
.block {
	 position: relative;
	 height: 20px;
	 width: 40px;
	 background-color: black;
	 margin: 35px;
}
.block:before {
	content: ''; 
    position: absolute;
    right: 30px; 
    top: 0px;
    border: 10px solid transparent;
    border-right: 20px solid black;

}